node_modules
.next
out
build
dist
.env
.env.local
.env.production
.DS_Store
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vercel
*.js.map
*.ts.map
headers.json
parse_headers.js
parse_headers2.js
parse_csv_to_json.js
parse_flood_data.js
parse_emdat.py
